<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="isroarm_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="Revolute 19">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Revolute 19']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Revolute 13">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Revolute 13']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Revolute 14">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Revolute 14']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Revolute 15">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Revolute 15']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Revolute 16">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Revolute 16']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Slider 17">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Slider 17']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
